@page
@model RazorPages.Pages.Account.LoginModel
@{
Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- Owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- Nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- Font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <title>@ViewData["Title"] - RazorPages</title>
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-container {
            /*max-width: 400px;*/
            width: 40%;
            height: 35%;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        .login-container h5, .login-container h6 {
            margin-bottom: 15px;
        }

        .login-container button {
            width: 100%;
            margin-top: 10px;
        }

        .login-container .alert {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="login-container">
    <form method="post" asp-page-handler="Login">
        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
        <h5>
            <b>Email: </b>
            <input class="form-control" required type="email" name="Username" placeholder="Enter your email address here" aria-describedby="emailHelp" />
        </h5>
        <h6>
            <b>Password:</b>
            <input class="form-control" required type="password" name="Password" placeholder="Enter your password here" />
        </h6>
        <input type="hidden" asp-for="ReturnUrl" value="@Model.ReturnUrl" />
        @if (!String.IsNullOrEmpty(Model.Message))
        {
        <div class="alert alert-danger" role="alert">
            @Model.Message
        </div>
        }
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="mt-3" asp-page="./Register">Not have a account !</a>
    </form>
</div>
</body>
</html>
